<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>MR Tuhin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.html" />
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/Content/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="/Content/assets/plugins/animate-css/animates.css">
    <link rel="stylesheet" href="/Content/assets/plugins/fontawesome/css/all.css">
    <link rel="stylesheet" href="/Content/assets/plugins/themify/css/themify-icons.css">
    <!-- Magnify Popup -->
    <link rel="stylesheet" href="/Content/assets/plugins/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/Content/assets/plugins/animated-text/animated-text.css">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="/Content/assets/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/Content/assets/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/Content/assets/css/style.css">
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <nav class="navbar navbar-expand-lg navigation header-padding site-header" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="index-2.html">
                <h2><b class="text-danger">T</b>uhin.</h2>
                @*<img src="~/Content/assets/images/logo.png" alt="Rubi" class="img-fluid">*@
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link smoth-scroll active" href="#slider">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link smoth-scroll" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link smoth-scroll" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link smoth-scroll" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link smoth-scroll" href="#skills">Skills</a></li>
                    @*<li class="nav-item"><a class="nav-link smoth-scroll" href="#team">Team</a></li>*@
                    <li class="nav-item"><a class="nav-link smoth-scroll" href="#blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link smoth-scroll" href="#contact">Contact</a></li>
                </ul>

                <form class="form-inline my-2 my-md-0 ml-lg-4">
                    <a href="#contact" class="btn btn-main btn-rounded smoth-scroll">Contact Us<i class="fa fa-angle-right ml-2"></i></a>
                </form>
            </div>
        </div>
    </nav>

    @RenderBody()
    @*<div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    <section class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto col-md-12">
                    <div class="footer-widget widget mb-5 mb-lg-0">
                        <h3 class="mb-3 text-white">Tuhin.</h3>
                        <p>Minimal & Creative Portfolio/CV/Biodata Solution in One Platform. </p>
                    </div>
                    <!-- Messenger Chat Plugin Code -->
                    <div id="fb-root"></div>

                    <!-- Your Chat Plugin code -->
                    <div id="fb-customer-chat" class="fb-customerchat">
                    </div>

                    <script>
                        var chatbox = document.getElementById('fb-customer-chat');
                        chatbox.setAttribute("page_id", "108472504867845");
                        chatbox.setAttribute("attribution", "biz_inbox");
                    </script>

                    <!-- Your SDK code -->
                    <script>
                        window.fbAsyncInit = function () {
                            FB.init({
                                xfbml: true,
                                version: 'v13.0'
                            });
                        };

                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>


                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget widget mb-5 mb-lg-0">
                        <h6 class="mb-4">Get In touch</h6>
                        <div class="footer-contact">
                            <h5>mdtuhinkhan508@gmail.com</h5>
                            <h5>+088-01738668058</h5>
                            <h5>BoroBagh, Mirpur-2, Dhaka ,Bangladesh</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget">
                        <h6 class="mb-4">Follow Me</h6>
                        <ul class="list-inline footer-socials-icon mb-0">
                            <li class="list-inline-item"><a href="https://www.facebook.com/Tuhin5850/"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://join.skype.com/invite/W969Ndue5XZw"><i class="fab fa-skype"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/md-abdullah-al-tuhin-bb65021b6"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-btm ">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p class="mb-0"><a href="#" target="_blank"></a></p>
                    </div>
                    <div class="col-lg-4">
                        <form action="#" class="footer-subscribe mt-5 mt-lg-0">
                            <input type="text" class="form-control" placeholder="Email Address">
                            <i class="ti-email"></i>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer-top text-right">
                <a href="#slider" class="top-to-bototm smoth-scroll"><i class="ti-angle-up"></i></a>
            </div>

           
        </div>
    </section>
    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="/Content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Slick Slider -->
    <script src="/Content/assets/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Progress Bar -->
    <script src="/Content/assets/plugins/counto/apear.js"></script>
    <script src="/Content/assets/plugins/counto/counTo.js"></script>
    <script src="/Content/assets/plugins/animated-text/animated-text.js"></script>

    <script src="/Content/assets/plugins/counterup/waypoint.js"></script>
    <script src="/Content/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <!--  Magnific Popup-->
    <script src="/Content/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/shuffle/shuffle.min.js"></script>

    <script src="/Content/assets/plugins/jquery/ajax-contact.js"></script>
    <script src="/Content/assets/js/script.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
